body,
html {
	overflow-x: hidden;
}
// section 1
.home {
	background: $white-smoke;
	background-position: 0 -50px;
	padding-top: 0;

	@media (max-width: 991px) {
		padding-top: 71px;
	}
}

.language-switcher {border-radius: 0;margin-bottom: 0;background: transparent}

.df-switch {
	margin-top: 20px;
	text-align: center;
}
.btn-toggle {
	top: 50%;
	transform: translateY(-50%);
}
.btn-toggle {
	margin: 0 4rem;
	padding: 0;
	position: relative;
	border: none;
	height: 1.5rem;
	width: 5rem;
	border-radius: 1.5rem;
	color: #6b7381;
	background: #0885da;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
	outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
	width: 4rem;
	text-align: center;
	font-weight: 600;
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: absolute;
	bottom: 0;
	transition: opacity 0.25s;
}
.btn-toggle:before {
	content: 'English';
	left: -5rem;
	color: #109fff;
}
.btn-toggle:after {
	content: 'Arabic';
	right: -5rem;
	opacity: 0.5;
	color: #F47280;
}
.btn-toggle > .inner-handle {
	border-radius: 13px;
	width: 65px;
	height: 13px;
	position: absolute;
	top: 6px;
	left: 8px;
	background-color: #0f71bd;
	box-shadow: inset 1px 1px 2px -1px black;
}
.btn-toggle.active > .inner-handle {
	background-color: #BD4053;
}
.btn-toggle > .handle:before {
	content: "";
	position: absolute;
	height: 34px;
	width: 34px;
	top: 35%;
	left: 11px;
	background-image: radial-gradient(circle at center, #0785da 5px, transparent 5px);
	background-size: 10px 10px;
	background-repeat: no-repeat;
}
.btn-toggle.active > .handle:before {
	background-image: radial-gradient(circle at center, #F47280 5px, transparent 5px);
}
.btn-toggle > .handle {
	position: absolute;
	top: -0.2875rem;
	left: 0.3875rem;
	width: 2.125rem;
	height: 2.125rem;
	border-radius: 1.125rem;
	background: #fff;
	transition: left 0.25s;
	border: 1px solid #ccc;
}
.btn-toggle.active {
	transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
	left: 2.4175rem;
	transition: left 0.25s;
}
.btn-toggle.active:before {
	opacity: 0.5;
}
.btn-toggle.active:after {
	opacity: 1;
	color: #F47280;
}
.btn-toggle.active {
	background-color: #F47280;
}


.rtl{
	.container{
			text-align: start !important;
	}
	.services-box{
		text-align: start !important;
	}
	.ml-auto{
		margin-right: auto !important;
		margin-left: 0;
	}
}


// section 2
.main-banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 700px;
	padding-bottom: 50px;

	@media (max-width: 991px) {
		min-height: 400px;
		margin-bottom: 50px;
	}
	.bnr-text{
		>p{
			font-size: 18px;
			line-height: 36px;
			color: rgba($dark, 0.6);
		}
	}
	.banner-title {
		width: 56%;
		@media (max-width: 991px) {
			width: 100%;
		}
	}
	.bnr-img{
		width: 420px;
	}
}
// section 3
.our-services{
	background: $dark;
	padding: 80px 0;
	h3{
		color: $lighter;
	}
	h5,h6{
		color: $light;
	}
	p{
		color: $gray;
	}
}

// section 5
.stat-icon{
	margin-top: 50px;
	img{
		width: 50px;
	}
}
// clients 
.clients{
	background: rgba($dark, 0.03);
	padding: 60px 0;
    margin: 100px 0 50px 0;
}

// contact form
.contactus{
	form{
		position: relative;
		z-index: 9;
	}
}

section {
	padding: 120px 0 0 0;

	@media (max-width: 1024px) {
		padding: 130px 0 0 0;
	}
	@media (max-width: 991px) {
		padding: 70px 0 0 0;
	}
}
.services-box {
	padding: 10px 100px 40px 0;
	position: relative;
	z-index: 2;
	@media (max-width: 991px) {
		padding: 10px 10px 40px 0;
	}
	img{
		width: 50px;
		opacity: .7;
	}
	&:hover {
		img {			
			opacity: 1;
			-webkit-transition: all 2s;
			-moz-transition: all 2s;
			-ms-transition: all 2s;
			-o-transition: all 2s;
			transition: all 2s;
		}
	}
}
.tick-icon {
	width: 20px;
	height: 20px;
}
.card{
	border-color: $border-color;
}
.animate_lines {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 90vw;
	z-index: 0;
	
	.line:after{
		background: -webkit-gradient(linear, left top, left bottom, from(rgba($dark, 0.03)), color-stop(75%, $gradient1), to($gradient2));
		background: linear-gradient(to bottom, rgba($dark, 0.03) 0%, $gradient1 75%, $gradient2 100%);
	}

    .line {
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($dark, 0.03);        

        &:after {
            content: "";
            display: block;
            position: absolute;
            height: 15vh;
            width: 100%;
            top: -50%;
            left: 0;
            -webkit-animation: run 7s 0s infinite;
                    animation: run 7s 0s infinite;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
            -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
                    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
        }

        &:nth-child(1) {
            margin-left: 22%;
            &:after {
                -webkit-animation-delay: 2s;
                        animation-delay: 2s;
            }
        }
        &:nth-child(3) {
            margin-left: 12%;
            &:after {
                -webkit-animation-delay: 2.5s;
                        animation-delay: 2.5s;
            }
        }
        &:nth-child(4) {
            margin-left: 80%;
            &:after {
                -webkit-animation-delay: 3s;
                        animation-delay: 3s;
            }
        }
        &:nth-child(5) {
            margin-left: 85%;
            &:after {
                -webkit-animation-delay: 3.5s;
                        animation-delay: 3.5s;
            }
        }
        &:nth-child(6) {
            margin-left: 100%;
            &:after {
                -webkit-animation-delay: 1.5s;
                        animation-delay: 1.5s;
            }
        }
    }
    @-webkit-keyframes run {
        0% {
            top: -50%;
        }
        100% {
            top: 110%;
        }
    }
      
    @keyframes run {
        0% {
            top: -50%;
        }
        100% {
            top: 110%;
        }
    }
}